streamlit
opencv-python-headless
pillow
extract-msg
scikit-learn
mlflow==2.17.0
cloudpickle==3.1.0
numpy==1.26.4
tensorflow==2.15.1
plotly
prophet
seaborn
rank_bm25
nltk
pandas
scipy
matplotlib
jupyter
jupyterlab
jupyterlab-git
jupyterlab-lsp
jupyterlab-plotly
jupyterlab-widgets
jupyter-resource-usage
jupyter-server-proxy
jupyter-server-proxy-jupyterlab
jupyter-server-proxy-server
jupyter-server-proxy-voila
jupyter-server-proxy-voila-gridstack
jupyter-server-proxy-voila-gridstack-jupyterlab  